#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEVICE 1

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 4 5 6 7 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp D    &kp R    &kp W  &kp B
                &hml LCTRL A    &hml LALT S    &hml LGUI H  &hml LSHFT T
                &kp X    &kp M    &kp C  &kp V
                                  &kp BSPC  &lt DEVICE SPACE
            >;
        };

        device_layer { // Layer 1
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &bootloader    &trans    &trans  &trans
                &trans    &trans    &trans  &trans
                &trans    &trans    &trans  &trans
                                  &trans  &trans
            >;
        };
    };
 };
